.wrapper {
    margin: 2px;
}

#header {
    text-align: center;
    color: white;
    font-family: cursive;
    font-style: italic;
   -webkit-text-stroke: 1px rgba(255, 0, 0, 0.438);
   text-shadow: 0px 2px 1px red;
}

.background-one {
    width: 100%;
    height: 100%;
    background-color: yellow;
    padding:1%;
}

.background-two {
    background-color: burlywood;
    position: relative;
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 50%;
}
.body {
    background-color: rgba(17, 80, 9, 0.986);
    box-shadow: 4px 8px 4px 2px darkgreen;
    padding: 0px 30px 10px 5px;
    border-radius: 60px;
    height: 170px;
    width: 30px;
    border: inset thick 4px darkgreen;
    transform: rotateX(10deg);
    transform: rotateY(15deg);
}

.eye {
    height: 32px;
    width: 18px;
    background-color: white;
    border-radius: 50px;
    z-index: 1;
    position: relative;
    border-color: darkgreen;
    border-style: inset;
    box-shadow: inset 5px;
}

.left {
    top: 15px;
    left: 10ps;
}

.right {
    top: -22px;
    left: 28px;
}

.pupil {
    width: 8px;
    height:10px;
    background-color: black;
    border-radius: 40px;
    border: 4px thin black;
    top: 15px;
    left: 9px;
    position: relative;
}

.nose {
    width: 20px;
    height: 20px;
    background-color: rgba(23, 122, 9, 0.911);
    border-radius: 90px;
    box-shadow: 5px 2px 5px 2px rgba(10, 34, 7, 0.932);
    position: relative;
    z-index: 2;
    top: -15px;
    left: 15px;
}

.mouth {
    width: 20px;
    height: 23px;
    border-color: black;
    border-style: inset;
    z-index: 3;
    background-color: black;
    border-radius: 0px 0px 110% 110%;
    left: 17px;
    top: 6px;
    position: relative;
}

.tongue {
    width: 12px;
    height: 4px;
    border: thin black 1px;
    background-color: salmon;
    z-index: 4;
    border-radius:20px ;
    flex: 10px;
    position: absolute;
    top: 18px;
    left: 4px;
}
.teeth-1 {
    width: 7px;
    height: 4px;
    background-color: white;
    border: 2px thin black;
    position: absolute;
}

.teeth-2 {
    width: 7px;
    height: 4px;
    background-color: white;
    border: 2px thin black;
    position:absolute;
    left: 6px;
}

.teeth-3 {
    width: 7px;
    height: 4px;
    background-color: white;
    border: 2px thin black;
    position: absolute;
    left: 12px;
}
.body-2 {
    width: 77px;
    height: 65px;
    background-color: red;
    border: solid 4px red;
    border-radius: 85px;
    position: relative;
    padding: 15px;
    left: 85px;
    top: -115px;
}

.vine {
    width: 20px;
    height: 6px;
    background-color: green;
    padding: 7px;
    border-radius: 40px 0px 15px 0px;
    position: absolute;
    top: -10px;
    left: 30px;
    border-color: darkgreen;
}

.vine-2 {
    width: 6px;
    height: 30px;
    border: 3px thick rgba(10, 34, 7, 0.932);
    border-radius:100px 0px 0 0px ;
    position: absolute;
    background-color: darkgreen;
    /* padding: 0px; */
    top: -25px;
    left: 20px;  
    box-shadow: inset 5px darkgreen; 
}

.eye-2 {
    width: 32px;
    height: 25px;
    background-color: white;
    border-radius: 0px 0px 60px 60px;
    position: absolute;
    margin: 4px thick black;
    border: 2px inset darkred;
    top: 27px;
    right: 5px;
    padding: -30px;
}

.pupil-2 {
    width: 12px;
    height: 16px;
    background-color: black ;
    border:2px thick black ;
    border-radius: 40px;
    top: 35px;
    right: 30px;    
}

.nose-2 {
    width: 20px;
    height: 22px;
    background-color: rgba(201, 19, 19, 0.952) ;
    box-shadow: inset darkred;
    border: 4px thick white;
    top: 35px;
    right: -40px;
    position: relative;
    border-radius: 80px;
}
.mouth-2 {
    width: 25px;
    height: 15px;
    background-color: black;
    border: 3px thick white;
    position: relative;
    top: 37px;
    right: -30px;
    border-radius: 0px 0px 70px 70px;
}
.teeth-4 {
    width: 7px;
    height: 4px;
    background-color: white;
    border: 2px thin black;
    position: absolute;
    left: 19px;
}
.tongue-2 {
    width: 14px;
    height: 4px;
    border: thin black 1px;
    background-color: salmon;
    z-index: 4;
    border-radius:20px ;
    flex: 10px;
    position: absolute;
    top: 10px;
    right: 5px;
}
